<!DOCTYPE html>
<html lang="en">

<head>
    <title>News Scraper</title>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <nav class="indigo darken-4">
                <a href="#" class="brand-logo"></a>
                <ul>
                    <li>
                        <a href="/"><button class=" indigo darken-3 waves-effect waves-light btn">Home</button></a>
                    </li>
                    <li>
                        <a href='/articles'><button id="articles" class="indigo darken-3 waves-effect waves-light btn">Saved Articles</button></a>
                    </li>
                    <li>
                        <a href='/scrape'><button id="scrape" class="pink darken-3 waves-effect waves-light btn">Scrape Articles!</button></a>
                    </li>
                </ul>
            </nav>
        </div>
        {{{ body }}} {{!-- Add in jQuery --}}
    </div>

    

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>