<!DOCTYPE html>
<html lang="en">

<head>
    <title>News Scraper</title>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
    <h1>Body Test</h1>
    {{{ body }}} {{!-- Add in jQuery --}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>

</html>