<div class="container">
    <h1>TEst render</h1>
    <div class="row">
        {{#each data}}
        <div calss="col s12">
            <div class="card">
                <div class="card-content">
                    <img href"#">
                    <span class="card-title">{{title}}</span>
                    <div class="card-action">
                        <a href="{{link}}">Link</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>