<div class="container">
    <div class="nav-wrapper">
        <nav class="indigo darken-4">
            <a href="#" class="brand-logo"></a>
            <ul>
                <li><a>Home</a></li>
                <li><a>Saved Articles</a></li>
                <li>
                    <button class="waves-effect waves-light btn">Scrape Articles!</button>
                </li>
            </U>
        </nav>
    </div>

    <h1 class="center" id="title">News Scrapper</h1>
    <br>
    <div class="row">
        <div calss="col s12">
            <div class="card">
                <div class="card-content">
                    <img href"#">
                    <span class="card-title center"><h2>Oh dang no Articles!</h2></span>
                    <div class="card-action">
                        <a href="#">What Link?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>